header{
    background-image: url(https://bit.ly/2Vua20K);
    border-radius: 50px;
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: tomato;
    
}
#col-md-4{
    border-radius: 12px;
    padding: 20px;
    border-collapse: separate;
    border-spacing: 115px 200px;
    background-image: url();
}
.greatnav {
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
    right: 0;
    left: 0;
    color: yellow;
    background-color: transparent;
}
                
li {
    list-style-type: none;
    display: inline-block;
}

li>a {
    text-decoration: none;
    padding: 15px;
    margin: 0;
    display: block;
    text-transform: uppercase;
    color:blue;
    text-shadow: 0 0 10px red;
    background-color: gainsboro;
    border-radius: 17px;
}

a:hover {
    box-shadow: 0 0 10px yellow;
    color: purple;
    text-decoration: none;
    background-color: tomato;
}

.logo {
    padding-top: 100px;
}

#log1 {
    border-radius: 50%;
    float: right;
}
.pizza-name{
    text-align: right;
    font-family: 'Molle';
    font-size: 50px;
    color: green;
}
#pizza-name-h1{
    font-family: 'Creepster' ;
    font-size: 100px;
    color: yellow;
}
.order-icon{
    height: 122px;
    width: 150px;
    text-align: center;
}
/* .order-taken, .card-title{
    text-align: center;
    color:yellow;
    font-family: 'Creepster' ;
    font-size: xx-large;
}
.order-taken-p, .card-text, .btn{
    text-align: center;
    color: green;
    font-family: 'Molle';
    font-size: x-large;
}
.routine{
    text-align: center;
    font-size: 100px;
    color: yellow;
    font-family: 'Creepster' ;
    text-decoration-line: underline;
}
body{
    background-image: url(https://bit.ly/2Vu918L);
    background-position: center;
    background-size: cover;
    page-break-after: auto;
    padding: 29px;
} */
font-family: 'Monofett', ;